@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
$gray-light: #777;
$gray-medium-light: #eaeaea;
$white: #fff;
$gray: #555;
$black: #000;
$gray-darker: #222;

@mixin box_sizing {
-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 10%;
  @include box_sizing;
  bottom: 0;
  visibility: hidden;
  position: relative;
  /*width: 100%;*/
  /*background-color: #f5f5f585;*/
  /*height: 12rem;*/
}

.navbar{
  background-color: $black;
  color: #efdad5;
  position: relative;
  margin-bottom: 0; 
}

.navbar-inverse{
  border-color: #37291F;
}

.navbar-inverse .navbar-nav > li > a{
  color: #EAF6FB;
  &:hover{
    color: #fff;
  }
}

body{
  margin: auto;
}
.wrapper {
  display: block;
  background-image: image-url("one.jpeg");
  background-size: cover; 
  /*opacity: 0.5;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;  
}

.bg-container{
  position: relative;
  min-height: 100vh;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
  
}

.jumbotron{
 background-color: #524a4a4a;
 margin-top: 5%;
 h1{
  color: #1b1212ba;
 }
}
.jumbotron h2 a{
  color: #3a4d5d;
} 

.center{
  text-align: center;
  h1 {
     margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fbf6f6d1;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
#logo {
  font-family: Jazz LET, fantasy;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #f7edec;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
       color: $white;
       text-decoration: none;
  }
}



/* footer */

footer {
  margin-top: 10%;
  padding-top: 5px;
  font-size:16px;
  border-top: 1px solid $gray-medium-light;
  color: $black;
  bottom: 10%;
  position: absolute;
  width: 100%;
  a {
      color: $black;
      &:hover {
         color: $gray-darker;
         }
   }

   small {
    float: left;
    width: 50%;
    padding-left: 20px;
   }

   ul {
    float: right;
    width: 50%;
    list-style: none;
      li {
      float: left;
      margin-left: 15%;
}
}
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first_child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom:3px;
    margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin: 0 15px;
  border: double #A0A0A0;
}
.gravatar_edit {
  margin-top: 15px;
}

/* forms */
.form-control{
  color: #337A90;
  opacity:1;
  border: 1px solid #89cff0;
  /*outline: none;*/
  /*border: none;*/
  /*border-bottom: 2px dotted #337A90;*/
  /*box-shadow: none;*/
  /*border-style: collapse;*/
  /*border-radius: 3px;*/
  &:focus {
    /*border-bottom: 2px solid #2e6da4;*/
   /*-webkit-box-shadow: none;*/
   /*box-shadow: none;*/
}
  &::placeholder {
  color: #a8a8a8;
  }
}


.signup_form, .login_form{
  /*opacity:1;*/
  width: 40%;
  margin: 0 auto;
  padding: 5% 45px 2px;
  margin-top: 10%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  h1{
    font-family: RW Chancery L, cursive;
    color: #f7edee;
    font-size: 2.9rem;
    font-weight: bold;
  }
  a{
    color: #3aa4ff;
  }
}
.singup_button, .login_button{
  padding: 6% 0;
}

.account{
  margin-bottom: 20%;
}

input, textarea, select, .uneditable-input {
  width: 50%;
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

/* errors explanation for signup form */

#error_explanation {
  margin-top: 10px;
  color: red;
  ul {
    color: red;
    margin: 60px 0 10px 0;
  }
}
.field_with_errors {
   @extend .has-error;
   .form-control {
     color: $state-danger-text;
    }
} 

.alert{
  margin-top: 10px;
}

.profile{
  background-color: #fdf9f9d1 !important;
  padding: 5px 15px;
}